.min_img_cont{
    display: flex;
}

.min_img_div{
    height: 150px;
    width:  150px;
}

.min_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big_img_cont{
    height: 500px;
    width:  500px;
    border: 1px solid red;
}

.big_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.red{
    border: 1px solid green;
}

button{
    height: 100px;
    width:  150px;
}